/* -------------------- */
/* custom properties    */
/* -------------------- */

:root {
  /* colors */
  --clr-primary-400: hsl(212, 86%, 64%);
  --clr-primary-300: hsl(34, 97%, 64%);
  --clr-primary-200: hsl(0, 78%, 62%);
  --clr-primary-100: hsl(180, 62%, 55%);

  --clr-neutral-400: hsl(234, 12%, 34%);
  --clr-neutral-300: hsl(229, 6%, 66%);
  --clr-neutral-200: hsl(0, 0%, 80%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* font sizes */
  --fs-700: 2.25rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: .9375rem;
  --fs-300: .8125rem;
  
  /* font weights */
  --fw-bold: 600;
  --fw-regular: 400;
  --fw-light: 200;
  
  /* font family */
  --ff-sans: Poppins, sans-serif;

  /* font opacity */
  --fo: .5;

  /* border radius */
  --br: .5rem

}

/* -------------------- */
/* Reset                */
/* -------------------- */

/* general reset */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0; 
}

/* set up the body */
body {
  font-family: var(--ff-sans);
  line-height: 1.6;
  color: var(--clr-neutral-400);
}

/* set up the images */
img,
picture {
  max-width: 100%;
  display: block;
  
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* -------------------- */
/* components           */
/* -------------------- */

.container {
  padding: 5rem 2rem 3rem;
}

.intro {
  text-align: center;
}
.intro-h1,
.intro-text,
.card-text {
  opacity: .6;
}
.intro-h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-light);
}
.intro-h2 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  margin-bottom: .9rem;
}
.intro-text {
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  letter-spacing: .18px;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.card {
  background-color: var(--clr-neutral-100);
  border-radius: .5rem;
  padding: 1.5rem 1.75rem;
  box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,0.25);
  margin-bottom: 1.5rem;
}
.card-head {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  margin-bottom: .25rem;
}
.card-text {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  letter-spacing: .25px;
  line-height: 1.6;
  margin-bottom: 2.2rem;
}
.card-decor {
  margin-left: auto;
  margin-bottom: .1875rem;
}
.cards > div:nth-child(1) {
  border-top: .25rem solid var(--clr-primary-100);
}
.cards > div:nth-child(2) {
  border-top: .25rem solid var(--clr-primary-200);
}
.cards > div:nth-child(3) {
  border-top: .25rem solid var(--clr-primary-300);
}
.cards > div:nth-child(4) {
  border-top: .25rem solid var(--clr-primary-400);
}
.card-decor {
  width: 3.5625rem;
}

@media (min-width: 71rem) {

  .container {
    padding: 5.2rem 2rem 3rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 21.875rem);
    grid-template-rows: repeat(2, 15.625rem);
    gap: 1.875rem;
  }
  .intro-h1 {
    font-size: var(--fs-700);
    line-height: 1.2;
  }
  .intro-h2 {
    font-size: var(--fs-700);
    margin-bottom: .9rem;
  }
  .intro-text {
    padding-inline: 27%;
    text-align: center;
    letter-spacing: .18px;
    margin-bottom: 4.25rem;
  }
  .cards > * {
    margin: 0;
    padding-inline: 2rem;
  }
  .cards > div:nth-child(1) {
    grid-area: 1/1/3/2;
  }
  .cards > div:nth-child(4) {
    grid-area: 1/3/-1/-1;
  }
  .cards > div:nth-child(1),
  .cards > div:nth-child(4) {
    margin: 8.6rem 0;
  }
  .card-head {
    margin-bottom: .6rem;
  }

}

@media (min-width: 42rem)  and (max-width: 71rem) {
  .cards > * {
    margin: 0;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 15.625rem);
    gap: 1.875rem;
    margin: 10%vw;
  }
  .cards > div:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .cards > div:nth-child(4) {
    grid-area: 2/2/-1/-1;
  }
}